<a href="https://colab.research.google.com/github/ulises1229/INTRO-PYTHON-ENESJ/blob/master/code/d%C3%ADa3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Día3 - Manipulación de datos con Pandas
+ Autor: Ulises Olivares
+ uolivares@unam.mx
+ 02 de septiembre de 2020

#### Lectura de dataframes

In [27]:
# importar la librería de pandas como pd
import pandas as pd

#Leer el dataframe salaries.csv
df = pd.read_csv("https://raw.githubusercontent.com/ulises1229/INTRO-PYTHON-ENESJ/master/data/salaries.csv")

In [28]:
# Revisar los primeros registros del df
df.head()

   rank discipline  phd  service   sex  salary
0  Prof          B   56       49  Male  186960
1  Prof          A   12        6  Male   93000
2  Prof          A   23       20  Male  110515
3  Prof          A   40       31  Male  131205
4  Prof          B   20       18  Male  104800

In [31]:
# Revisar los últimos registros del df?

In [26]:
# Comprobar el tipo de datos de la columna salary 
df['salary'].dtype

dtype('int64')

In [33]:
# Comprobar el tipo de datos de todas las columnas
df.dtypes

rank          object
discipline    object
phd            int64
service        int64
sex           object
salary         int64
dtype: object

In [34]:
# Listar los nombres de las columnas
df.columns

Index(['rank', 'discipline', 'phd', 'service', 'sex', 'salary'], dtype='object')

In [35]:
# Listar etiquetas de fila y nombres de columna
df.axes

[RangeIndex(start=0, stop=78, step=1),
 Index(['rank', 'discipline', 'phd', 'service', 'sex', 'salary'], dtype='object')]

In [36]:
# Listar el número de dimensiones
df.ndim

2

In [ ]:
# Listar el número de  elementos